@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    @apply font-serif antialiased;
  }
}

@layer components {
  /* ハンバーガーメニューのアニメーション */
  .mobile-menu-toggle.active .hamburger-line:nth-child(1) {
    @apply rotate-45 translate-y-2;
  }

  .mobile-menu-toggle.active .hamburger-line:nth-child(2) {
    @apply opacity-0;
  }

  .mobile-menu-toggle.active .hamburger-line:nth-child(3) {
    @apply -rotate-45 -translate-y-2;
  }

  /* モバイルメニューの開閉 */
  .mobile-menu.active {
    @apply max-h-screen;
  }

  .mobile-submenu.active {
    @apply block;
  }

  .submenu-toggle-icon.active {
    @apply rotate-180;
  }
}
